<div id="mapid"></div>

<!-- <img src="../../../assets/images/marker.png" alt=""> -->
<footer>
  <div>
    <p class="footer-content">Copyright 2021 &copy; All Rights Reserved</p>
  </div>
  <div class="icons">
    <a href="https://www.facebook.com/moin.uddin.754365/">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://github.com/moynuddin">
      <i class="fab fa-github-square"></i>
    </a>
    <a href="https://www.linkedin.com/in/moin-uddin-5435b1100/">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</footer>
