<nav class="navbar navbar-light" style="background: #637fde">
  <div class="d-flex justify-content-start align-items-center">
    <img
      src="../../../assets/images/logo.png"
      class="logo"
      alt="logo"
      style="width: 3rem"
    />
    <span class="navbar-brand mb-0 h1 text-white">Covid-19 Tracker</span>
  </div>
</nav>

<div class="wrapper">
  <h1 *ngIf="!country" class="d-flex justify-content-center mt-3 name">
    {{ "World Wide" }}
  </h1>
  <h1 *ngIf="country" class="d-flex justify-content-center">
    {{ country.country }}
  </h1>
  <div class="content-wrapper">
    <div class="total_cases">
      <!-- <img
        class="d-none d-md-block d-lg-block d-xl-block"
        *ngIf="country"
        src="{{ country?.countryInfo?.flag }}"
        alt="{{ country?.countryInfo?.iso3 }}"
        style="width: 3rem; z-index: 1"
      /> -->
      <p class="d-xs-flex justify-content-xs-center">Today Cases</p>
      <p *ngIf="!country" class="">{{ todayCases }}</p>
      <p *ngIf="country" class="text-2xl">
        {{ todayCases }}
      </p>
      <p class="d-xs-flex justify-content-xs-center text-lead">Total Cases</p>
      <p *ngIf="!country" class="">{{ cases }}</p>
      <p *ngIf="country" class="text-2xl">{{ cases }}</p>
      <!-- <p *ngIf="country">Today Cases</p> -->
    </div>
    <div class="total_active">
      <p class="recovered_cases">Today Recovered</p>
      <p *ngIf="!country" class="">
        {{ todayRecovered }}
      </p>
      <p *ngIf="country">
        {{ todayRecovered }}
      </p>
      <p>Active Cases</p>
      <p *ngIf="!country">{{ active }}</p>
      <p *ngIf="country">{{ active }}</p>
    </div>
    <div class="total_deaths">
      <p>Today Deaths</p>
      <p *ngIf="!country" class="">
        {{ todayDeaths }}
      </p>
      <p *ngIf="country" class="">
        {{ todayDeaths }}
      </p>
      <p>Total Deaths</p>
      <p *ngIf="!country" class="">{{ deaths }}</p>
      <p *ngIf="country" class="">{{ deaths }}</p>
    </div>
  </div>
  <div class="dropdown-wrapper">
    <select
      class="form-select"
      (change)="SelectCountry($event)"
      style="width: 25rem"
    >
      <option value="">Select Countries</option>
      <option *ngFor="let country of specificCountry">
        {{ country.country }}
      </option>
    </select>
  </div>
</div>
